<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Target-Login</key>
	<dict>
		<key>name</key>
		<string>Login</string>
		<key>allVerifySkip</key>
		<false/>
		<key>actions</key>
		<dict>
			<key>actionA</key>
			<dict>
				<key>mapValue</key>
				<string>LoginViewController</string>
				<key>verifySkip</key>
				<true/>
			</dict>
			<key>actionB</key>
			<dict>
				<key>mapValue</key>
				<string>DidLogin</string>
				<key>verifySkip</key>
				<false/>
			</dict>
			<key>actionC</key>
			<dict>
				<key>mapValue</key>
				<string>NotFound</string>
				<key>verifySkip</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>targetB</key>
	<dict>
		<key>name</key>
		<string>B</string>
		<key>allVerifySkip</key>
		<false/>
		<key>actions</key>
		<dict>
			<key>actionA</key>
			<dict>
				<key>mapValue</key>
				<string>AA</string>
				<key>verifySkip</key>
				<false/>
			</dict>
			<key>actionB</key>
			<dict>
				<key>mapValue</key>
				<string>BB</string>
				<key>verifySkip</key>
				<false/>
			</dict>
			<key>actionC</key>
			<dict>
				<key>mapValue</key>
				<string>CC</string>
				<key>verifySkip</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
